header {
	margin: 15px;
	border: 3px solid blue;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 3px 3px 3px grey;
	
	background: rgb(240,249,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header h1,header div {
	display: inline;
	margin-right: 20px;
	color: blue;	
}

main {
	margin: 20px;	
}

table,tr,td,th {
	border: 1px solid blue;
	padding-left: 5px;
	padding-right: 5px;	
}

th {
	color: blue;
}

hr {
	color: blue;
	background-color: blue;
	height: 2px;
}

.filefield {
	float: left;
}

div {
	clear: both;
}

form.boekingForm div label {
	width:150px;
}