<h2>Bankrekeningen</h2>

<div ng-controller="BankrekeningCtrl">

<table>
	<tr>
		<th>rekeningnr</th>
		<th>omschrijving</th>
		<th>saldo</th>
		<th></th>
	</tr>
	<tr ng-repeat="bankrekening in bankrekeningen">
		<td>{{bankrekening.rekeningnr}}</td>
		<td>{{bankrekening.omschrijving}}</td>
		<td>{{bankrekening.saldo}}</td>
		<td><button ng-click="verwijderen($index)" class="btn">Verwijderen</button> <button ng-click="bijwerken($index)" class="btn">Bijwerken</button></td>
	</tr>
</table>
<hr>
<div>
	<form ng-submit="save()">
		<label>Rekeningnr:</label> <input type="text" ng-model="formObj.rekeningnr" placeholder="Geef het rekeningnummer" size="30" required />
		<label>Omschrijving:</label> <input type="text" ng-model="formObj.omschrijving" placeholder="Geef hier een omschrijving" size="50" required />
		
		<button type="submit" class="btn">Opslaan</button>
		<button type="reset" ng-click="reset()" class="btn">Reset</button>
	</form>
</div>

</div>