<h2>Boekrekeningen</h2>

<div ng-controller="BoekrekeningCtrl">
<table>
	<tr>
		<th>rekeningnr</th>
		<th>omschrijving</th>
		<th>budgeteerbaar</th>
		<th>boekbaar</th>
	</tr>
	<tr ng-repeat="boekrekening in boekrekeningen">
		<td>{{boekrekening.rekeningnr}}</td>
		<td>{{boekrekening.omschrijving}}</td>
		<td>{{boekrekening.budgeteerbaar}}</td>
		<td>{{boekrekening.boekbaar}}</td>
		<td><button ng-click="verwijderen($index)">Verwijderen</button></td>
		<td><button ng-click="bijwerken($index)">Bijwerken</button></td>
	</tr>
</table>
<div>
	<form ng-submit="save()">
		Rekeningnr: <input type="text" ng-model="br.rekeningnr"/>
		Omschrijving: <input type="text" ng-model="br.omschrijving"/>
		Budgeteerbaar: <input type ="checkbox" ng-model="br.budgeteerbaar"/>
		Boekbaar: <input type ="checkbox" ng-model="br.boekbaar"/>
		<button type="submit">Opslaan</button>	
	</form>
</div>
</div>