<h2>Boekrekeningen</h2>

<div ng-controller="BoekrekeningCtrl">

<table>
	<tr>
		<th>rekeningnr</th>
		<th>omschrijving</th>
		<th>budgeteerbaar</th>
		<th>boekbaar</th>
		<th></th>
	</tr>
	<tr ng-repeat="boekrekening in boekrekeningen">
		<td>{{boekrekening.rekeningnr}}</td>
		<td>{{boekrekening.omschrijving}}</td>
		<td>{{boekrekening.budgeteerbaar}}</td>
		<td>{{boekrekening.boekbaar}}</td>
		<td><button ng-click="verwijderen($index)">Verwijderen</button> <button ng-click="bijwerken($index)">Bijwerken</button></td>
	</tr>
</table>
<hr>
<div>
	<form ng-submit="save()">
		<label>Rekeningnr:</label> <input type="text" ng-model="br.rekeningnr" placeholder="XXXXXX"/>
		<label>Omschrijving:</label> <input type="text" ng-model="br.omschrijving" placeholder="Geef hier een omschrijving" size="50"/>
		<label>Budgeteerbaar:</label> <input type ="checkbox" ng-model="br.budgeteerbaar"/>
		<label>Boekbaar:</label> <input type ="checkbox" ng-model="br.boekbaar"/>
		
		<button type="submit">Opslaan</button>
		<button type="reset" ng-click="reset()">Reset</button>	
	</form>
</div>

</div>