<h2>BudgetStaat</h2>

<div>
	<label>Jaar:</label> <input type="number" ng-model="jaar"/>
  <label>Referentie jaar:</label> <input type="number" ng-model="referentieJaar"/>
	<hr>
</div>

<table class="table table-striped table-condensed" fixed-header table-height="700px">
	<thead>
		<tr>
			<th>rekeningnr</th>
			<th>omschrijving</th>
      <th>boeking {{referentieJaar}}</th>
      <th>boeking referentie</th>
			<th>boeking {{jaar}}</th>
      <th>verschil</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="budgetstaatitem in budgetstaat">
			<td>{{budgetstaatitem.boekrekening.rekeningnr}}</td>
			<td>{{budgetstaatitem.boekrekening.omschrijving}}</td>
      <td>{{budgetstaatitem.referentieJaarBedrag}}</td>
      <td>{{budgetstaatitem.referentieBedrag}}</td>
			<td>{{budgetstaatitem.geboektBedrag}}</td>
      <td>{{budgetstaatitem.geboektBedrag - budgetstaatitem.referentieBedrag | number : 2 }}</td>
		</tr>
	</tbody>
</table>
