<h2>BudgetStaat</h2>

<div>
	<label>Jaar:</label> <input type="number" ng-model="jaar"/>
	<hr>
</div>

<table class="table table-striped table-condensed" fixed-header table-height="700px">
	<thead>
		<tr>
			<th>rekeningnr</th>
			<th>omschrijving</th>
			<th>boeking</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="budgetstaatitem in budgetstaat">
			<td>{{budgetstaatitem.boekrekening.rekeningnr}}</td>
			<td>{{budgetstaatitem.boekrekening.omschrijving}}</td>
			<td>{{budgetstaatitem.geboektBedrag}}</td>
		</tr>
	</tbody>
</table>
