<h2>Boeking</h2>

<div ng-controller="BudgetCtrl">
<div>
jaar: <input type="text" ng-model="jaar"/> <button ng-click="refresh()">refresh</button>
<table>
	<tr>
		<th>boekrekening</th>
		<th>boekrekening - omschrijving</th>
		<th>jaar</th>
		<th>bedrag</th>
	</tr>
	<tr ng-repeat="budget in budgetten">
		<td>{{budget.boekrekening.rekeningnr}}</td>
		<td>{{budget.boekrekening.omschrijving}}</td>
		<td>{{budget.jaar}}</td>
		<td>{{budget.bedrag}}</td>
		<td><button ng-click="verwijderen($index)">Verwijderen</button></td>
		<td><button ng-click="bijwerken($index)">Bijwerken</button></td>
	</tr>
</table>
</div>
<div>
	<form ng-submit="save()">
		<div>Boekrekening: 
			<select ng-model="bt.boekrekening.id">
				<option ng-repeat="boekrekening in boekrekeningen | filter:{budgeteerbaar:'true'}" value="{{boekrekening.id}}">{{boekrekening.rekeningnr}} - {{boekrekening.omschrijving}}</option>
			</select>
		</div>
		<div>Jaar: <input type="text" ng-model="bt.jaar"/></div>
		<div>Bedrag: <input type="text" ng-model="bt.bedrag"/></div>
		<div><button type="submit">Opslaan</button></div>
		<div><button type="reset" ng-click="reset()">Reset</button></div>	
	</form>
</div>
</div>