<div ng-controller="JournaalCtrl">

<form action="{{baseRestPath + 'journaal/upload'}}" method="post" enctype="multipart/form-data">
  <label class="filefield">Selecteer een bestand: </label> <input type="file" name="journaalbestand" size="200" class="filefield"/>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span></button>
</form>

<div>
	<hr>
	<label>Jaar: </label> <input type="number" ng-model="jaar"/>
	<hr>
</div>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>...</th>
			<th>B</th>
			<th>Datum</th>
			<th>Afschriftnummer</th>
			<th>Transactienummer</th>
			<th>Transactie</th>
			<th>Bedrag</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat-start="journaalitem in journaal">
			<td><button ng-click="bewerken($index)"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
			<td>{{isGeboekt($index)}}</td>
			<td>{{journaalitem.datum}}</td>
			<td>{{journaalitem.afschriftnummer}}</td>
			<td>{{journaalitem.transactienummer}}</td>
			<td>{{journaalitem.transactie}}</td>
			<td>{{journaalitem.bedrag}}</td>
		</tr>
		<tr ng-repeat-end ng-show="editeerZichtbaar[$index]">
			<td></td>
			<td colspan="6">
				<div>Bankrekening: {{journaalitem.bankrekening.rekeningnr}} - {{journaalitem.bankrekening.omschrijving}}</div>
				<div>Rekening tegenpartij: {{journaalitem.tegenpartijRekening}}</div>
				<div>Naam tegenpartij: {{journaalitem.tegenpartijNaam}}</div>
				<div>Adres tegenpartij: {{journaalitem.tegenpartijAdres}} - {{journaalitem.tegenpartijPlaats}}</div>
				<div>Devies: {{journaalitem.devies}}</div>
				<div><b>Boekingen:</b></div>
				<form ng-submit="save($index)" class="form-inline" role="form">
					<div ng-repeat="boeking in journaalitem.boekingen track by $index">
						<div class="form-group">
							<label>Boekrekening:</label> 
							<select class="form-control" ng-model="boeking.boekrekening" ng-options="boekrekening.rekeningnr  + ' - ' + boekrekening.omschrijving for boekrekening in boekrekeningen | filter:{boekbaar:'true'} track by boekrekening.id">
							</select>
						</div>
						<div class="form-group">
							<label>Omschrijving:</label>
							<input class="form-control" type="text" ng-model="boeking.omschrijving" placeholder="Geef omschrijving"/>
						</div>
						<div class="form-group">
							<label>Bedrag:</label>
							<input class="form-control" type="text" ng-model="boeking.bedrag" placeholder="Bedrag in EUR"/>
						</div>
						<button type="button" ng-click="verwijderen($parent.$index, $index)"><span class="glyphicon glyphicon-minus"></span></button>
					</div>
					<div>
						<div class="form-group">
							<label>Boekrekening:</label> 
							<select class="form-control" ng-model="newboeking.boekrekening" ng-options="boekrekening.rekeningnr  + ' - ' + boekrekening.omschrijving for boekrekening in boekrekeningen | filter:{boekbaar:'true'} track by boekrekening.id">
							</select>
						</div>
						<div class="form-group">
							<label>Omschrijving:</label>
							<input class="form-control" type="text" ng-model="newboeking.omschrijving" placeholder="Geef omschrijving"/>
						</div>
						<div class="form-group"> 
							<label>Bedrag:</label>
							<input class="form-control" type="text" ng-model="newboeking.bedrag" placeholder="Bedrag in EUR"/>
						</div>
						<button type="button" ng-click="toevoegen($index)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
					<div><button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-save"></span></button></div>
				</form>
			</td>
		</tr>
	</tbody>
</table>
</div>