<div ng-controller="JournaalCtrl">

<form action="{{baseRestPath + 'journaal/upload'}}" method="post" enctype="multipart/form-data">
  <label class="filefield">Selecteer een bestand: </label> <input type="file" name="journaalbestand" size="200" class="filefield"/>
  <input type="submit" value="Upload het!" class="filefield" />
</form>

<div>
	<hr>
	<label>Jaar: </label> <input type="number" ng-model="jaar"/>
	<hr>
</div>

<table>
	<tr>
		<th>...</th>
		<th>B</th>
		<th>Datum</th>
		<th>Afschriftnummer</th>
		<th>Transactienummer</th>
		<th>Transactie</th>
		<th>Bedrag</th>
	</tr>
	<tr ng-repeat-start="journaalitem in journaal">
		<td><button ng-click="bewerken($index)">...</button></td>
		<td>{{isGeboekt($index)}}</td>
		<td>{{journaalitem.datum}}</td>
		<td>{{journaalitem.afschriftnummer}}</td>
		<td>{{journaalitem.transactienummer}}</td>
		<td>{{journaalitem.transactie}}</td>
		<td>{{journaalitem.bedrag}}</td>
	</tr>
	<tr ng-repeat-end ng-show="editeerZichtbaar[$index]">
		<td></td>
		<td colspan="6">
			<div>Bankrekening: {{journaalitem.bankrekening.rekeningnr}} - {{journaalitem.bankrekening.omschrijving}}</div>
			<div>Rekening tegenpartij: {{journaalitem.tegenpartijRekening}}</div>
			<div>Naam tegenpartij: {{journaalitem.tegenpartijNaam}}</div>
			<div>Adres tegenpartij: {{journaalitem.tegenpartijAdres}} - {{journaalitem.tegenpartijPlaats}}</div>
			<div>Devies: {{journaalitem.devies}}</div>
			<div><b>Boekingen:</b></div>
			<form ng-submit="save($index)">
				<div ng-repeat="boeking in journaalitem.boekingen track by $index">
				Boekrekening: 
					<select ng-model="boeking.boekrekening" ng-options="boekrekening.rekeningnr  + ' - ' + boekrekening.omschrijving for boekrekening in boekrekeningen | filter:{boekbaar:'true'} track by boekrekening.id">
					</select>
				Omschrijving: <input type="text" ng-model="boeking.omschrijving" placeholder="Geef omschrijving"/>
				Bedrag: <input type="text" ng-model="boeking.bedrag" placeholder="Bedrag in EUR"/>
				<button type="button" ng-click="verwijderen($parent.$index, $index)">-</button>
				</div>
				<div>
				Boekrekening: 
					<select ng-model="newboeking.boekrekening" ng-options="boekrekening.rekeningnr  + ' - ' + boekrekening.omschrijving for boekrekening in boekrekeningen | filter:{boekbaar:'true'} track by boekrekening.id">
					</select>
				Omschrijving: <input type="text" ng-model="newboeking.omschrijving" placeholder="Geef omschrijving"/> 
				Bedrag: <input type="text" ng-model="newboeking.bedrag" placeholder="Bedrag in EUR"/>
				<button type="button" ng-click="toevoegen($index)">+</button>
				</div>
				<div><button type="submit">Opslaan</button></div>
			</form>
		</td>
	</tr>
</table>
</div>